.fullscreen {
    width: 100vw;
    height: 100vh;
}

.tito-tickets-button {
    background: transparent;
    border: transparent;
    color: white;
    font-weight: bold;
    outline: none;
    &:focus,
    &:hover {
        outline: none;
    }
}

.green-divider {
    width: 35px;
    height: 5px;
    background-color: $lightGreen;
    border-radius: 100px;
    display: block;
    margin: 15px auto;
    @media only screen and (min-width: 768px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.nopad {
    padding: 0;
}

#navigation-bar {
    top: 0;
    width: 100%;
    z-index: 999;
    border: none;
    position: fixed;
    padding: 1rem 1rem;
    background: $deepGreen;
    @media only screen and (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        display: flex;
        align-items: center;
    }
    .navbar-brand {
        color: $white;
        display: flex;
        font-size: 19px;
        font-weight: 600;
        align-items: center;
        text-transform: uppercase;
    }
    .logo {
        width: 37px;
        height: 25px;
        margin-right: 15px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        @media only screen and (min-width: 768px) {
            width: 39px;
        }
    }
    .navbar-nav li {
        position: relative;
        .dots {
            display: none;
            @media only screen and (min-width: 768px) {
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                color: transparent;
                text-align: center;
                position: absolute;
                transition: all 0.5s ease;
            }
        }
        &:hover .dots {
            color: $white;
        }
        a {
            color: $white;
            opacity: 0.8;
            font-size: 20px;
            font-weight: 600;
            transition: 0.3s ease;
            text-transform: uppercase;
            &:hover {
                opacity: 1;
            }
            @media only screen and (min-width: 992px) {
                font-size: 16px;
                margin: 0.5rem 1.1rem;
            }
        }
        &:last-child a {
            margin-right: 0;
        }
        &:last-child .dots {
            left: 0.5rem;
        }
    }
}

section.about-us.section {
    h2,
    h3,
    h5 {
        text-transform: uppercase;
        font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    }
    h2 {
        color: $black;
        font-size: 14px;
        font-weight: 600;
    }
    h3 {
        font-size: 15px;
        color: #979ea6;
        margin-top: 5px;
        font-weight: 400;
    }
    h5 {
        color: #171a18;
        font-weight: 600;
        line-height: 1.5;
        margin: 20px 0;
        text-transform: none;
        @media only screen and (min-width: 768px) {
            margin-top: 4rem;
            margin-bottom: 2.5rem;
            font-size: 30px;
        }
    }
}

.last-conference {
    padding-bottom: 1rem;
    @media only screen and (min-width: 768px) {
        padding-bottom: 0;
    }
    .container {
        height: 100%;
        .title {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            padding: 3rem 1rem;
            @media only screen and (min-width: 768px) {
                display: flex;
                font-size: 27px;
                height: 100%;
                align-items: center;
                text-align: left;
                padding: 0 0 0 3rem;
            }
            @media only screen and (min-width: 992px) {
                font-size: 30px;
            }
        }
        .forward-arrow {
            display: none;
            @media only screen and (min-width: 768px) {
                height: 25px;
                width: 50px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-top: 1.5rem;
                display: block;
                transition: all 0.2s ease-in-out;
                &:hover {
                    margin-left: 15px;
                }
            }
        }
    }
    .video-play-wrap {
        padding: 0 10px;
        display: block;
        transition: all 0.3s ease-in-out;
        &:hover {
            padding: 0 20px;
            .play-btn {
                transform: scale(1.1);
            }
            @media only screen and (min-width: 768px) {
                padding: 0;
                .play-btn {
                    transform: scale(1.3);
                }
            }
        }
        @media only screen and (min-width: 768px) {
            padding: 0;
        }
    }
    .video {
        height: 200px;
        background-size: cover;
        background-position: 100% 40%;
        background-repeat: no-repeat;
        @media only screen and (min-width: 768px) {
            height: 400px;
        }
        &,
        .wrap {
            border-radius: 15px;
            @media only screen and (min-width: 768px) {
                border-radius: 0px;
            }
        }
        .wrap {
            z-index: 2;
            height: 100%;
            background: rgba(1, 138, 138, 0.4);
        }
    }
    .play-wrap {
        @media only screen and (min-width: 768px) {
            &:hover .play-btn {
                transform: scale(1.4);
            }
        }
        .play-btn {
            height: 4rem;
            width: 4rem;
            transform: scale(1);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -2rem 0 0 -2rem;
            transition: all 0.3s ease-in-out;
            @media only screen and (min-width: 768px) {
                left: 0;
                transform: scale(1.3);
            }
        }
    }
}

.sponsors {
    background-color: #f8f8f8;
    padding: 5rem 0;
    h2 {
        font-size: 30px;
        color: #000000;
        font-weight: 600;
        position: absolute;
        @media only screen and (min-width: 768px) {
            line-height: 2;
        }
        @media only screen and (min-width: 992px) {
            line-height: 2;
        }
    }
    .sponsor-green {
        // margin-left: 1rem;
        div {
            height: 5px;
            width: 106px;
            margin-top: 21px;
            // margin-left: 30px;
            display: inline-block;
            background-color: rgba(1, 186, 186, 0.5);
            @media only screen and (min-width: 768px) {
                margin-top: 30px;
            }
        }
    }
    span {
        display: block;
        text-align: left;
        color: #363636;
        margin: 1.5rem 1rem 0;
        @media only screen and (min-width: 768px) {
            margin: 1rem 0 0;
            font-size: 14px;
            text-align: right;
            color: #999999;
        }
    }
    .sponsor-icons {
        margin: 2rem 0 0;
        .sponsor-col {
            margin: 3rem 0;
            &:nth-last-of-type(-n + 2) {
                margin-bottom: 0;
            }
            @media only screen and (min-width: 768px) {
                &:nth-last-of-type(-n + 4) {
                    margin-bottom: 0;
                }
            }
        }
        .sponsors-img {
            width: 80%;
            margin: auto;
            opacity: 0.4;
            height: 30px;
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

footer {
    .footer-wrap {
        padding: 4rem 0 2rem;
        .footer-logo-wrap {
            display: flex;
        }
        .footer-logo {
            width: 2rem;
            height: 2rem;
            // margin: 0 auto;
            background-size: contain;
            background-repeat: no-repeat;
            img {
                top: -5px;
                position: absolute;
            }
        }
    }
    .footer-list {
        margin-top: 40px;
        @media only screen and (min-width: 992px) {
            margin-top: 0;
            display: flex;
            justify-content: center;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                float: left;
                width: 50%;
                border-bottom: 1px solid #f2f2f2;
                &:first-child,
                &:nth-child(3) {
                    border-right: 1px solid #f2f2f2;
                }
                &:nth-child(n + 3) {
                    border-bottom: 0px;
                }
                @media only screen and (min-width: 992px) {
                    border: 0px;
                    width: auto;
                    &:first-child,
                    &:nth-child(3) {
                        border-right: 0px;
                    }
                }
                a {
                    display: block;
                    padding: 15px 0;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    color: #999;
                    &:hover {
                        color: $deepGreen;
                        text-decoration: none;
                    }
                    @media only screen and (min-width: 992px) {
                        padding: 0 15px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .footer-social-wrap {
        margin-top: 50px;
        @media only screen and (min-width: 992px) {
            margin-top: 0;
        }
        ul {
            padding: 0;
            margin: 0;
            text-align: right;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 15px;
                    color: #373737;
                    @media only screen and (min-width: 992px) {
                        padding: 0 10px;
                    }
                    &:hover {
                        color: $deepGreen;
                    }
                    i {
                        font-size: 25px;
                        transition: all 0.3s ease-in-out;
                        @media only screen and (min-width: 992px) {
                            font-size: 20px;
                        }
                        &.fa-slack {
                            color: #3f0f3f;
                            @media only screen and (min-width: 992px) {
                                color: #d9d9d9;
                                &:hover {
                                    color: #3f0f3f;
                                }
                            }
                        }
                        &.fa-twitter {
                            color: #55acee;
                            @media only screen and (min-width: 992px) {
                                color: #d9d9d9;
                                &:hover {
                                    color: #55acee;
                                }
                            }
                        }
                        &.fa-instagram {
                            color: #8134af;
                            @media only screen and (min-width: 992px) {
                                color: #d9d9d9;
                                &:hover {
                                    color: #8134af;
                                }
                            }
                        }
                        &.fa-youtube {
                            color: #ff0000;
                            @media only screen and (min-width: 992px) {
                                color: #d9d9d9;
                                &:hover {
                                    color: #ff0000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright {
        margin-top: 30px;
        text-align: center;
        @media only screen and (min-width: 992px) {
            margin-top: 50px;
        }
    }
    .copy {
        color: #c9c9c9;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        @media only screen and (min-width: 992px) {
            margin-top: 50px;
            color: #c9c9c9;
        }
    }
    .design {
        display: block;
        font-size: 12px;
        margin-top: 5px;
        color: #c0c0c0;
        a {
            color: #b0b0b0;
        }
    }
}

.mouse {
    display: none;
    @media only screen and (min-width: 768px) {
        display: block;
        margin: 0 auto;
        width: 16px;
        height: 26px;
        border-radius: 13px;
        border: 2px solid $white;
        bottom: 20px;
        position: absolute;
        left: 50%;
        margin-left: -14px;
        span {
            display: block;
            margin: 4px auto;
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background: $white;
            border: 1px solid transparent;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: scroll;
            animation-name: scroll;
        }
    }
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px);
    }
}
