header.fullscreen {
    overflow: hidden;
    min-height: 50rem;
    position: relative;
    @media only screen and (min-width: 768px) {
        min-height: 48rem;
        max-height: 60rem;
    }
}

header.jumbo {
    padding-top: 70px;
    background-color: $deepGreen;
    color: $white;
    #bgvid {
        display: none;
        @media only screen and (min-width: 768px) {
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            display: block;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
    .green-overlay {
        display: none;
        @media only screen and (min-width: 768px) {
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background-color: #115d5dec;
        }
    }
    .container {
        position: relative;
        @media only screen and (min-width: 768px) {
            .row {
                margin-top: -20px;
            }
        }
    }
    .banner-caption {
        margin: 0;
        display: flex;
        font-size: 27px;
        line-height: 1.6;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Tahoma', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
        @media only screen and (min-width: 768px) {
            font-size: 38px;
            text-align: left;
        }
        @media only screen and (min-width: 992px) {
            font-size: 43px;
        }
    }
    .banner-subcaption {
        color: $white;
        display: block;
        font-size: 18px;
        line-height: 1.6;
        margin-top: 20px;
        text-align: center;
        @media only screen and (min-width: 768px) {
            text-align: left;
        }
        @media only screen and (min-width: 992px) {
            font-size: 20px;
        }
    }
    .invisible-line {
        width: 300px;
        display: flex;
        margin-top: 20px;
        margin: 20px auto;
        border-bottom: 1px solid $lightGreen;
        @media only screen and (min-width: 768px) {
            width: 368px;
            display: block;
            margin-top: 25px;
            margin-left: 0px;
            margin-right: 0px;
            text-align: justify;
        }
    }
    .date,
    .location {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
        @media only screen and (min-width: 768px) {
            text-align: left;
            font-size: 17px;
            margin-top: 30px;
        }
        @media only screen and (min-width: 768px) {
            text-align: left;
            font-size: 18px;
        }
        .icon {
            margin-right: 5px;
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
                color: #f9f9f9;
            }
        }
    }
    .location {
        margin-top: 5px;
    }
    .ticket-button {
        padding: 0;
        margin: 27px auto 0;
        font-size: 18px;
        max-width: 200px;
        font-weight: 600;
        line-height: 50px;
        text-transform: uppercase;
        @media only screen and (min-width: 768px) {
            margin: 25px 0 0;
        }
    }
    .sponsor-mobile {
        display: block;
        text-align: center;
        margin-top: 28px;
        .gold-sponsor {
            display: block;
        }
        .gold-sponsor img {
            width: 100px;
        }
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
    .video-play {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        @media only screen and (min-width: 768px) {
            justify-content: flex-end;
        }
        a.icon {
            background: url('/img/video.png');
            height: 70px;
            width: 70px;
            text-align: center;
            background-size: cover;
            justify-content: center;
            background-repeat: no-repeat;
            margin-right: 15px;
            display: block;
            transform: scale(1);
            transition: all 0.2s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
            @media only screen and (min-width: 768px) {
                height: 100px;
                width: 100px;
            }
        }
    }
    .sponsor {
        display: none;
        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            span {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        @media only screen and (min-width: 768px) {
            right: 0;
            bottom: 0;
            display: block;
            position: absolute;
            padding-bottom: 15px;
        }
    }
}

.about-us {
    padding: 4rem 0;
    @media only screen and (min-width: 768px) {
        padding: 8rem 0;
    }
    .container {
        max-width: 80%;
        @media only screen and (min-width: 992px) {
            max-width: 850px;
        }
    }
    p {
        color: $black;
        font-size: 16px;
        line-height: 1.8;
        &.lighter {
            color: #999999;
            font-size: 15px;
        }
        @media only screen and (min-width: 768px) {
            font-size: 18px;
        }
    }
}

.hype {
    background-color: #f8f8f8;
    .row {
        @media only screen and (min-width: 768px) {
            align-items: center;
        }
    }
    .green-divider {
        margin: 0;
    }
    .text-content {
        width: 80%;
        margin: 40px auto 0;
        &.bottom {
            margin-bottom: 40px;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }
        @media only screen and (min-width: 768px) {
            width: 70%;
            margin: 0 auto;
        }
        @media only screen and (min-width: 992px) {
            width: 50%;
        }
        h3 {
            font-size: 20px;
            color: #272727;
            font-weight: 600;
            margin: 20px 0;
            @media only screen and (min-width: 768px) {
                font-size: 23px;
                line-height: 1.5;
            }
            @media only screen and (min-width: 992px) {
                font-size: 25px;
            }
        }
        p {
            line-height: 1.86;
            color: #474747;
            @media only screen and (min-width: 768px) {
                font-size: 14px;
            }
            @media only screen and (min-width: 992px) {
                font-size: 16px;
            }
        }
    }
    .img-wrap {
        height: 20.5rem;
        @media only screen and (min-width: 768px) {
            height: 327px;
        }
        @media only screen and (min-width: 992px) {
            height: 475px;
        }
        .img {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            &.slant-left {
                background-image: url('/img/community-slant-1.png');
            }
            &.slant-right {
                background-image: url('/img/community-slant-2.png');
            }
        }
    }
}

.speakers {
    overflow: hidden;
    .speakers-wrap {
        margin: 4rem 0;
        @media only screen and (min-width: 768px) {
            margin: 6rem 0;
        }
    }
    .title {
        margin-left: 20px;
        margin-bottom: 1.5rem;
        @media only screen and (min-width: 768px) {
            margin-bottom: 3rem;
            margin-left: 0;
        }
        .title-text {
            font-size: 27px;
            font-weight: 600;
            position: absolute;
        }
        .title-div {
            height: 5px;
            width: 98px;
            margin-top: 23px;
            margin-left: 20px;
            display: inline-block;
            background-color: rgba(1, 186, 186, 0.5);
        }
    }
    .speakers-container {
        padding: 0;
        @media only screen and (min-width: 768px) {
            padding: 3rem 0;
        }
        @media only screen and (min-width: 992px) {
            padding: 3rem 0 3rem 4rem;
        }
    }
    .pic-col {
        margin-top: 2rem;
        @media only screen and (min-width: 992px) {
            &:nth-child(-n + 3) {
                margin-top: 0;
            }
        }
    }
    .speaker-img {
        width: 100%;
        height: 12rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        border-radius: 5px;
        border: 2px solid transparent;
        @media only screen and (min-width: 768px) {
            border: none;
            border-bottom: 7px solid #999;
        }
        &:hover,
        &.active {
            cursor: pointer;
            border: 2px solid #01baba;
            @media only screen and (min-width: 768px) {
                border: none;
                border-bottom: 7px solid #01baba;
            }
        }
        @media only screen and (min-width: 768px) {
            height: 15rem;
        }
    }
    .info-background {
        transform: scale(0);
        transition: all 0.1s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #01baba;
        &.active {
            transform: scale(1);
            z-index: 999;
            @media only screen and (min-width: 992px) {
                z-index: inherit;
            }
        }
        @media only screen and (min-width: 992px) {
            width: auto;
            height: auto;
            position: relative;
            transform: scale(1);
            display: block;
            border-radius: 5px;
            transition: all 0s ease;
            background-color: #01baba;
        }
        .row,
        .information {
            height: 100%;
        }
        .information {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $white;
            .meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .close-btn {
                    display: flex;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                    span {
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-left: 3px;
                    }
                    @media only screen and (min-width: 920px) {
                        display: none;
                    }
                }
            }
            .number {
                display: block;
                font-size: 11px;
                color: $deepGreen;
                font-weight: 600;
            }
            .description {
                font-size: 12px;
                display: block;
                line-height: 20px;
                margin-bottom: 20px;
                color: $deepGreen;
                font-weight: 600;
            }
            .name,
            .talk-title {
                display: block;
                font-size: 15px;
                font-weight: 600;
            }
            .talk-title {
                font-size: 17px;
                line-height: 1.6;
                margin-top: 10px;
                color: $deepGreen;
            }
            .abstract {
                font-size: 14px;
                line-height: 1.7;
            }
        }
        .socials {
            height: 15px;
            width: 15px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 15px;
        }
    }
}

.schedules {
    margin-bottom: 5rem;
    .title {
        margin-bottom: 30px;
        .title-text {
            position: absolute;
            font-size: 27px;
            font-weight: 600;
        }
    }
    .title-div {
        height: 5px;
        width: 98px;
        margin-top: 23px;
        margin-left: 20px;
        display: inline-block;
        background-color: rgba(1, 186, 186, 0.5);
    }
    .schedule {
        margin-bottom: 20px;
        @media only screen and (min-width: 768px) {
            margin-bottom: 30px;
        }
    }
    .schedule-wrap {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }
        .time {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            color: #979797;
            margin-left: 3px;
            margin-bottom: 5px;
            .duration {
                width: 10px;
                height: 1px;
                margin: 0 5px;
                background-color: #d9d9d9;
            }
            @media only screen and (min-width: 768px) {
                margin: 0;
                width: 100px;
                flex-direction: column;
                .duration {
                    flex: 1;
                    width: 1px;
                    margin: 3px 0;
                    background: transparent;
                    border-left: 1px dashed #d9d9d9;
                }
                .to {
                    color: #d9d9d9;
                }
            }
        }
        .activity {
            flex: 1;
            display: block;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: rgba(1, 186, 186, 0.2);
            &.grey {
                background-color: #fcf3e1;
            }
            @media only screen and (min-width: 768px) {
                padding: 17px;
                margin-left: 20px;
            }
            .activity-title {
                font-size: 16px;
                font-weight: 600;
                color: #484848;
                display: block;
                @media only screen and (min-width: 768px) {
                    font-size: 22px;
                }
            }
            .overview {
                font-size: 12px;
                color: #777;
                line-height: 1.2rem;
                display: inline-block;
                margin-top: 2px;
                @media only screen and (min-width: 768px) {
                    font-size: 14px;
                    line-height: 1.8rem;
                }
            }
        }
    }
}
