.container {
    width: 100%;
    @media #{$md-min} {
        width: $container-desktop;
    }
    @media #{$lg-min} {
        width: $container-large-desktop;
    }
}
.no-dice {
    text-align: center;
    font-size: 25px;
    color: #a9a9a9;
    font-weight: 300;
    margin: -50px auto 0;
    max-width: 900px;
}

::selection {
    background: #00baba;
    color: #fff;
}
::-moz-selection {
    background: #00baba;
    color: #fff;
}

// Animations
@import "app/animations";

// Full popup
@import "app/popup-full";

// Snackbar
@import "app/snackbar";

// Navigation Bar
@import "app/navbar";

// Jumbo
@import "app/jumbo";

// Sections
@import "app/section";

// Footer
@import "app/footer";