footer.main {
    padding: 40px 0;
    text-align: center;
    span.closer {
        display: block;
        color: #bababa;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        @media #{$md-min} {
            display: inline-block;
            font-size: 14px;
            letter-spacing: 2px;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin-bottom: 30px;
        @media #{$md-min} {
            margin: 0;
            display: inline-block;
            &:after {
                content: "|";
                display: inline-block;
                margin: 0 15px;
                color: #c9c9c9;
            }
        }
        li {
            display: inline-block;
            @media #{$md-min} {
                letter-spacing: 1px;
            }
            &:last-child:after {
                display: none;
            }
            &:after {
                content: "•";
                display: inline-block;
                padding: 0 8px;
                color: #bababa;
            }
            a {
                text-transform: uppercase;
                color: #bababa;
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    color: #aaa;
                }
            }
        }
    }
}