.navbar {
    width: 100%;
    height: 100px;
    // overflow: hidden;
    box-shadow: 0 2px 2px rgba(#999, .5);
    @media #{$md-min} {
        height: $navbar-height;
    }
    .navbar-header, .navbar-brand {
        float: none;
        display: block;
        height: 60px;
        @media #{$md-min} {
            float: left;
            height: $navbar-height;
        }
    }
    .navbar-brand {
        padding: 15px;
        @media #{$md-min} {
            padding: $navbar-padding-vertical $navbar-padding-horizontal;
        }
        & > img {
            height: 30px;
            margin: 0 auto;
            @media #{$md-min} {
                height: 35px;
                margin: 0;
            }
        }
    }
    .le-navigation {
        margin: 0 -15px;
        border-top: 1px solid $navbar-default-border;
        @media #{$md-min} {
            margin: 0 15px;
        }
    }
    .navbar-nav {
        float: none;
        margin: 0;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox
        &::-webkit-scrollbar {
            display: none; // Chrome & Safari
        }
        @media #{$md-min} {
            float: right;
            overflow: inherit;
        }
        & > li {
            float: none;
            display: inline-block;
            @media #{$md-min} {
                float: left;
                display: block;
            }
            & > a {
                line-height: 20px;
                padding: 10px 13px;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                transition: color .3s ease;
                @media #{$sm-min} {
                    padding: 10px 20px;
                }
                @media #{$md-min} {
                    line-height: 35px;
                    padding: 25px 23px;
                }
            }
        }
    }
}
