#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 300px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    &.show {
        visibility: visible;
        -webkit-animation: snackfadein 0.5s, snackfadeout 0.5s 2.5s;
        animation: snackfadein 0.5s, snackfadeout 0.5s 2.5s;
    }
}

@-webkit-keyframes snackfadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes snackfadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes snackfadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes snackfadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
